<h1><center><b>Project 1</b></center></h1>

<h2><center><b>EDA with MySQL</b></center></h2>

<h3><b>Already studmarks table is created in MySQL under database Student by importing the data from GitHub which was present in csv format</b></h3>

<img src="https://cdn.pixabay.com/photo/2016/03/29/08/48/project-1287781_1280.jpg">

***First importing necessary packages***

In [ ]:
#!pip install sqlalchemy
#!pip install pymysql
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set()
import warnings
warnings.filterwarnings("ignore")

***Creating object to make connection between SQL and Python***

In [ ]:
engine=create_engine("mysql+pymysql://root:"+'7777'+"@localhost:3306/student")

***Importing table from SQL using Pandas***

In [ ]:
df=pd.read_sql_table("studmarks",engine)
df

***Checking datatypes and null count of the columns***

In [ ]:
df.info()

**Observation** : There is no null or NAN value in the table

***Checking number of male and female students with visualization***

In [ ]:
print(sns.countplot(df['Gender']))

**Observation** : Number of Male and Female students is same i.e, 5.

In [ ]:
print("The analysis of DOB of the students")
df['DOB'].describe()

***Creating loop to describe all the atributes, which gives all the atribute's count,mean,standard deviation, minimum,25%,50%,75% and maximum values.***

***Also visualizing the same, where peak of the curve indicates mean value.***

In [ ]:
subjects= ['Maths','Physics','Chemistry','English','Biology','Economics','History','Civics']

for i in range(1,8):
    print(df[subjects[i]].describe())
    plt.figure(figsize=(8, 7))
    sns.distplot(df[subjects[i]],bins=5,color='r',rug=True,hist_kws= {"alpha":1,"color": "g"})
    plt.show()

In [ ]:
df.describe()

<h2>Observation:</h2>

Analyzing above table individually

In [ ]:
df1=df.iloc[:,3:12]

In [ ]:
df1.max()

Maximum marks has been scored in subjects Maths, Physics and Biology i.e, 96

In [ ]:
df1.min()

Minimum marks has been scored in Civics i.e, 2

In [ ]:
df1.mean()

<h2><b><center>Conclusion</center></b></h2>

Students have performed fairly better in subject <b>Chemistry</b> with an average of <b>75.3</b> compared to all other subjects

<h3>Individual analysis of students</h3>

***Checking the highest scorer of them all***

***Finding Total marks of all subject for each student***

In [ ]:
total=pd.Series()
total=0
for subject in subjects:
    total=total+df[subject]
df["Total Marks"]=total
df

***Finding Total percentage for each student***

In [ ]:
Percentage=(df['Total Marks']/800)*100
df["Percentage"]=Percentage
df

***Finding Toppers in the class***

In [ ]:
df.loc[df["Percentage"]>71,["Name","Gender","DOB","Percentage"]]

In [ ]:
print("The Highest percentage scored among all the students is", df["Percentage"].max(),"%")

<h2><center>Final Conclusion<center></h2>

As per our analysis we have **2** toppers in the class with same score of **73.375%** and the name of those students are **Jennifer** and **Farha**

We also can conclude that all Top **3** students are **Female**

<img src="https://knowledge.wharton.upenn.edu/wp-content/uploads/2020/05/Women-in-data-science.jpg">